.button {
    margin-left: auto;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.button span{
    font-weight: 500;
}

.button .Reply,
.button .Edit {
    color: hsl(238, 40%, 52%);
}

.button .Delete {
    color: hsl(358, 79%, 66%);
}